html, body{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

button{
    width: 23%;
    height: 90%;
    border-radius: 15px;
    border-style: none solid solid none;
    border-color: #A09E9D;
    background-color: #E1E1E1;
    font-size: 1.5rem;
    margin: 5px;
}

.container{
    width: 500px;
    height: 150px;
    background-color: #FBF2E9;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.light-display{
    width: 65%;
    height: 87%;
    border: 2px solid #A19F9D;
    border-radius: 15px;
    margin: 5px;
}

.light{
    width: 50px;
    height: 50px;
    border-radius: 2;
    background-color: red;
}