body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container{
    max-width: 600px;
    max-height: 600px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}

.item{
    width: 60px;
    height: 60px;
    background-color: aliceblue;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
}

.active{
    border: 1px solid black;
}